
<meta charset="UTF-8">
<title> curruculum vitae</title> 
<style>
h3 {color:red;
text-decoration: underline;}
img { float: right; }
</style>
</head>
<body>
<div id="header">
<img src="https://lh3.googleusercontent.com/a-/AAuE7mCcZ4cZZrGqUlNxJckvOIjX2kVDmznDfqWi3J52=s640-rw-il" alt= "photo" width="100" height="100">
<p id="name">Ichrak Mchaalia</p>
         <a href="mailto:ichrakmchaalia.promo1@gmail.com" target="_blank"><p id="email">ichrakmchaalia.promo1@gmail.com</p></a>
     </div>
     <div class="left">
     </div>
     <div class="right">
     <p> Numéro de téléphone : 52 652 031 </p>
     <p> Linkedin : Ichrak Mchaalia </p>
            
            <ul>
                
                <li>Une personne indépendante, motivatée et efficiente . Ces attributs sont prouvés par la série de cours que j'ai suivis ou que je suis en train de suivre.</li>
                <li>Bonnes compétences en communication, en présentation, en autorisation et en délégation, un très bon esprit d'équipe.</li></ul>
        
            <h3> Formation</h3>
             <table>
                 <tr>
                    
                    <td> Biologie végétale  </td>
                    <td>Faculté des sciences Tunis el manar</td>
                    <td>Mastère de recherche</td>
                    <td>2018</td>
                </tr>
                <tr>
                    <td> Sciences de la vie
                    <td> Faculté des sciences Tunis el manar </td>
                    <td>licence </td>
                    <td>2016</td>
                </tr>
                <tr>
                    <td>Baccalauréat sciences expérimentales</td>
                    <td>lycée farhat hached ghardimaou </td>
                    <td> mention passable </td>
                    <td>2013</td>
                </tr>
                </table>
            <h3>Expériences professionelles</h3>
            <h4 id="nom de l'organisation"> Institut national de recherche et d'analyse physico chimique sidi thabet</h4>
            <p id="job-title"><strong>laboratin</strong></p>
            <p id="durée"><strong>9 mois</strong></p>
    
            <p id="responsabilités"> responsabilités</p>
            <p>
            <ul>
                <li>Effectuer des tests et des analyses sur des produits</li>
                <li>Analyser les éléments chimiques et les composantes du produit</li>
                <li>entretenir le matériel de contrôle du laboratoire</li>
                <li>Vérifier et contrôler toutes les étapes de fabrication d’un produit</li>
                <li>Valider les analyses auprès de sa hiérarchie</li>
                </ul>
<H3> Compétences </h3>
      
<h3> Langues </h3>
<ul>
   <li> Arabe </li>
   <li> Français </li>
   <li> Anglais </li>
</ul>
   <h3> Intérets </h3>
 <ul>
   <li> Bénévolat </li>
   <li> Lecture </li>
   <li> Sport du groupe </li>
 </ul>
 </div>